services:

  nginx:
    build: ./nginx
    ports:
      - 1337:80
    depends_on:
      - web

  web:
    build:
      context: ./django_roomsmandu_backend
      dockerfile: Dockerfile
    command: gunicorn django_roomsmandu_backend.wsgi:application 0.0.0.0:8000
    volumes:
      - ./django_roomsmandu_backend:/usr/src/django_roomsmandu_backend
    expose:
      - 8000
    env_file:
      - .env.dev
    depends_on:
      - db
      - daphne

  daphne:
    build: ./django_roomsmandu_backend
    command: daphne --bind 0.0.0.0 -p 8002 django_roomsmandu_backend.asgi:application
    ports:
      - 8002:8002
    
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=djangoroomsmandu
    ports:
      - "5432:5432"

volumes:
  postgres_data: 


