services:
  nginx:
    build: ./nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - web
      - daphne
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/mime.types:/etc/nginx/mime.types
      - /etc/letsencrypt:/etc/letsencrypt:ro

  web:
    build:
      context: ./django_roomsmandu_backend
      dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:8000 django_roomsmandu_backend.wsgi:application
    volumes:
      - ./django_roomsmandu_backend:/usr/src/django_roomsmandu_backend
    expose:
      - 8000
    env_file:
      - .env.prod
    depends_on:
      - db
      - daphne

  daphne:
    build: ./django_roomsmandu_backend
    command: daphne --bind 0.0.0.0 -p 8002 django_roomsmandu_backend.asgi:application
    ports:
      - 8002:8002
    env_file:
      - .env.prod
    depends_on:
      - db
    
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=djangoroomsmandu
    ports:
      - "5432:5432"

volumes:
  postgres_data: 


